@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import "tailwindcss";

.font-dripping {
  font-family: 'Creepster', cursive, sans-serif !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}